
<div class="jumbotron">
	<div class="layer"></div>
	<div class="bg-image"></div>
	<div class="header">
		<h1>MUSIC NEWS</h1>
		<h3>Vibe Mongo Scraper Edition</h3>
	</div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class='container-fluid'>
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Vibe Scraper</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><button class="btn btn-danger scrape-button">Scrape New Articles</button>></li>
		</ul>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 text-center">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Articles</h3>
				</div>
				<div class="panel-body">
					{{#each allArticles}}
					<div class="article-div row">
						<div class="article-image">
							<a href="{{this.link}}"><img src="{{this.image}}"></a>
						</div>
						<div class="article-title">
							<a href="{{this.link}}" target="_blank"><h4>{{this.title}}</h4></a>
						</div>
						<button class="btn btn-success save-article" id="{{this._id}}" data-title="{{this.title}}" data-link="{{this.link}}" data-image="{{this.image}}">Save This Article</button>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Saved Articles</h3>
				</div>
				<div class="panel-body">
					{{#each savedArticles}}
					<div class="article-div row">
						<div class="article-image">
							<a href="{{this.link}}"><img src="{{this.image}}"></a>
						</div>
						<div class="article-title">
							<a href="{{this.link}}" target="_blank"><h4>{{this.title}}</h4></a>
						</div>
						<button class="btn btn-danger delete-article" id="{{this._id}}" data-title="{{this.title}}" data-link="{{this.link}}" data-image="{{this.image}}">Delete Article</button>
						<button type="button" class="btn add-btn btn-primary view-notes" id="{{this._id}}" data-title="{{this.title}}" data-link="{{this.link}}" data-image="{{this.image}}" data-toggle="modal" data-target="#notesModal">Notes</button>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
{{!-- Notes Modal --}}
	<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h2 class="form-title" id="myModalLabel">Add A Note</h2>
	        <p id="missing-data" style="color: red;"></p>
	      </div>
	      <div class="modal-body">
	            <form id="note">
	                <div class="form-group">
	                    <label for="task">Title:</label>
	                    <input type="text" class="form-control modal-form" id="note-title">
	                    <label for="body">Notes:</label>
	                    <textarea class="form-control modal-form" rows="10" id="note-body"></textarea>
	                </div>
	            </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary btn-lg btn-block submit" id= "add-item" data-dismiss="">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>